$blue: hsl(223, 87%, 63%);
$paleRed: hsl(223, 100%, 88%);
$lightRed: hsl(354, 100%, 66%);



$gray: hsl(0, 0%, 59%);
$vdarkBlue:hsl(209, 33%, 12%);


$fontSize:20px;
$fontFamily:'Libre Franklin', sans-serif;
